{% extends 'base.html'%}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}<title>jesus lives ministry</title>{% endblock title %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
{% include 'navbar.html'%}
<!--Carousel Wrapper-->
<!--Slides-->
<div class="carousel-inner" role="listbox">
  <!-- First slide -->
  <div class="carousel-item active">
    <!--Mask color-->
    <div class="view">
      <!--Video source-->
      <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
      </video>
      <div class="mask rgba-indigo-light"></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h1 class="font-weight-bold text-uppercase">Jesus lives ministry</h1>
        <p class="font-weight-bold text-uppercase py-4">Affecting the world for Christ</p>
      </div>
    </div>
    <!--Caption-->
  </div>
  <!-- /.First slide -->
</div>
<!--/.Slides-->
<!--Carousel Wrapper-->

<!-- about jlm -->
<div class="container-fluid" style="#ede7f6 deep-purple lighten-5">
  <h2 style="text-align:center;">Jesus lives ministry</h2>
  <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
    anim id est laborum.</p>
  <br>
  <!-- pastor sections -->
  <div class="container">
    <h4 style="text-align:center">Jesus lives ministries leadership</h4>
    <br>
    {% if leaderships %}
    <div class="row">
      {% for leadership in leaderships %}
      <div class="col-12 col-sm-6 col-lg-6">
        <!-- Card -->
        <div class="card">
          <!-- Background color -->
          <div class="card-up indigo lighten-1">
            <div class="view overlay zoom">
              <div class="avatar mx-auto">
                <img src="{{ leadership.image.url}}" class="card-img-top" style="height:250px;" alt="">
              </div>
            </div>
          </div>
          <div class="card-body" style="background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);">
            <!-- Name -->

              <h5 style="color:white" class="view overlay zoom">{{leadership.level}} {{leadership.full_name}}</h5>
              <hr />
              <h5 style="color:white" class="view overlay zoom">{{leadership.branch}}</h5>
              <hr />
              <!-- Quotation -->
              <p style="color:white" class="view overlay zoom"><i class="fas fa-quote-left"></i>{{leadership.message}}
              </p>
          </div>
        </div>
            <p style="padding-top:30px;">{{leadership.biograpgy}}</p>
      </div>

      {% endfor %}
    </div>
    {% endif %}
  </div>
  <br>
  <div class="container" style="">
    <div class="">
    <br>
    <h5 style="font-size:bold;">PRAYER REQUEST</h5>
    <p>Leave a prayer request and the Bishop will pray with you.</p>
    <br>
    <!-- Name -->
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 mb-0" style="tex-align:center;">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.subject|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Reach us through</h6>
            <br>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@jlmchurch.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> +254 70 000 000</p>
            <p>
              <i class="fas fa-print mr-3"></i> +254 70 000 000</p>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        <div class="form-group col-md-5 mb-0">
          {{ form.message|as_crispy_field }}
        </div>
      </div>
    </form>
    </div>
  </div>
  {% endblock %}
