{% extends 'base.html'%}
{% block title %}<title>pastors departnment</title>{% endblock title %}

{% block content %}
{% load staticfiles %}
{% include 'navbar.html'%}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(16).jpg"
        alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(17).jpg"
        alt="Third slide">
    </div>
  </div>
</div>
  <br>
  <div class="container-fluid">
    <h4 style="text-align:center">Jesus lives ministries pastors</h4>
    <br>
    {% if pastors %}
    <div class="row">
      {% for pastor in pastors %}
      <div class="col-12 col-sm-6 col-lg-3">
        <!-- Card -->
        <div class="card">
          <!-- Background color -->
          <div class="card-up indigo lighten-1">
          <div class="view overlay zoom">
          <div class="avatar mx-auto">
             <img src="{{ pastor.image.url}}" class="card-img-top" style="height:280px; width:100%"alt=""100x100"">
          </div>
          </div>
          </div>
          <div class="card-body" style="background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);">
            <!-- Name -->
            <h4 class="card-title">
              <h5 style="color:white"class="view overlay zoom">{{pastor.level}} {{pastor.full_name}}</h5>
              <hr/>
              <h5 style="color:white"class="view overlay zoom">{{pastor.branch}}</h5>
              <hr/>
              <!-- Quotation -->
              <p style="color:white"class="view overlay zoom"><i class="fas fa-quote-left"></i>{{pastor.message}}
              </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}
